html
    head
        title Pagina inicial
        link(rel="stylesheet", href="home.css")
    body
        h2(style="color:red", id="title") Pagina de inicio
        ul
            li elemento1
            li elemento2
        h3 !{message}


//- <html>
//-     <head>
//-         <title>pagina inicial</title>
//-     </head>
//-     <body>
//-         <h2 style="color:red">Pagina de inicio</h2>
//-         <ul>
//-             <li>elemento 1</li>
//-             <li>elemento 2</li>
//-         </ul>
//-     <body>
//- </html>