<h1>Formulario de ingreso</h1>
<div>
    <form action="/login" method="post">
        <label>Nombre:</label>
        <input type="text" placeholder="Ingresa tu nombre" name="name"/>
        <button type="submit">Ingresar</button>
    </form>
</div>