<div class="contenedor">
    <h2>Pagina home</h2>
    <form method="post" action="/products">
        <label>Titulo</label>
        <input name="title"/>
        <label>Precio</label>
        <input name="price"/>
        <label>Imagen</label>
        <input name="thumbnail"/>
        <button type="submit">Guardar</button>
    </form>
</div>